@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
}

.header-container-home{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem;
    min-height: 22rem;
    text-align: center;
    background-color: gray;
}

#toast{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.toast{
    padding: 2rem;
    background-color: #0d94af;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    margin: 1rem;
}

.cart-number{
    position: absolute;
    top: -15px;
    right: -15px;
    color: #56CDF3;
}

.popup-container{
    border: 1px solid black;
    position: fixed;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    width: 35rem;
    top: 4rem;
    bottom: 0;
    right: 0;
    background-color: white;
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.cart-header{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: start;
    top: 7.8rem;
}

.cart-header p{
    font-size: 1.5rem;
    margin: 0 2.8rem;
    font-weight: 700;
    text-decoration: underline;
}

.cart-header span{
    text-decoration: underline;
    font-size: 1.5rem;
    margin: 0 1rem 0 5rem;
    font-weight: 700;
}

.items{
    top: 10rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total{
    margin-top: 1rem;
    margin-left: 20rem;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

#total{
    font-weight: 400;
}

#pages-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pages-button button{
    width: 3rem;
    margin: 0 1rem;
    background-color: #56CDF3;
    border-color: white;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    border: 2px solid #56CDF3;
    cursor: pointer;
    transition: width .2s ease-in-out;
}

#pages-button button:hover{
    width: 3.5rem;
}

#pages-button .active{
    background-color: #0d94af;
    border-color: #0d94af;
}

.pages-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cart-pages{
    margin: 0 1rem;
    background-color: #56CDF3;
    color: white;
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
    transition: background-color 1s;
}

.cart-pages:hover{
    background-color: white;
    color: #000;
}

.cart-pages-active{
    margin: 0 1rem;
    background-color: #0d94af;
    color: white;
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
    transition: background-color 1s;
}

.cart-pages-active:hover{
    background-color: white;
    color: #000;
}

.item{
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: .5rem 0;
}

.item p{
    margin: 2rem 1rem;
    font-size: 1rem;
}

.item button{
    margin: 1rem 1rem;
    width: 6rem;
    height: 3rem;
    padding: .2rem 1rem;
    background-color: #E64D4C;
    color: white;
    border: #E64D4C;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    border-radius: .5rem;
}

.item button:hover{
    background-color: #cf2020;
}

.item input{
    margin: 1rem 1rem;
    padding: .2rem 0.5rem;
    border: 2px solid #56CDF3;
    border-radius: .5rem;
    text-align: center;
    width: 2rem;
    height: 2.4rem;
}


.item img{
    height: 6rem;
    width: 6rem;
    border-radius: 1rem;
    margin: 0 1rem;
}

.popup-container h1{
    position: absolute;
    top: 3rem;
    font-size: 2.5rem;
    font-family: 'Metal Mania', cursive;
}

.close-popup{
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: .5rem;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.close-popup:hover{
    color: white;
    background-color: black;
    border-color: #000;
    border: 2px solid #000;
}

.purchase{
    margin: 1rem 0;
    position:relative;
    background-color: #56CDF3;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: .5rem;
    width: 15rem;
}

.purchase:hover{
    background-color: #0d94af;
}


.header-container-home h1{
    color: white;
    font-size: 6rem;
    cursor: pointer;
}

.header-container-home h3{
    margin-top: 10rem;
    position: absolute;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    border: 1px solid #56CDF3;
    padding: 1rem;
    cursor: pointer;
}

.header-container-home button{
    margin-top: 16rem;
    position: absolute;
    font-size: 2rem;
    background-color: gray;
    color: #56CDF3;
    border: 2px solid #56CDF3;
    border-radius: 5rem;
    padding: 1rem;
}

.order-history-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3rem 5rem;
}

.order-history-header h1{
    font-family: 'Metal Mania', cursive;
    font-size: 2rem;
    padding: .5rem;
}

.order-history-header p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
}

.order-history-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding: 0rem 10rem;
    margin: 0 10rem;
    margin-bottom: 7rem;
}

.order-history-container li{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.order-history-container p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
}

.product-history p{
    padding: 4rem 4rem;
}

.order-history-container img{
    width: 8rem;
    height: 8rem;
    margin: 1.5rem 0;
}

#order-id{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

#order-price{
    padding-left: 25rem;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.default p{
    display: flex;
    padding: 0 12rem;
    font-size: 3rem;
}

.tours-container{
    margin: 3rem 6rem;
    max-width: 90vw;
    text-align: center;
    align-content: center;
}

.tour{
    margin: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 0.5rem;
}

.tour button{
    background-color: #56CDF3;
    padding: .5rem 2rem;
    font-weight: 700;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.about-container{
    margin-top: 2.5rem;
    text-align: center;
}

.about-section{
    margin: 2rem 10rem;
    padding: 2rem 5rem;
    text-align: start;
}

.about-section img{
    border-radius: 150px;
    width: 13rem;
    display: block;
    float: left;
    margin: 1rem 3rem;
}

.about-section p{
    display: inline;
    color: grey;
}

.navbar{
    top: 0px;
    background-color: #212020;
    width: 100vw;
    max-width: 100vw;
    position: fixed;
}

.navbar-container{
    justify-content: center;
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
}

.navbar-container li{
    margin: 1rem;
    text-decoration: none;
    color: #212020;   
}

a{
    color: white;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

a:hover{
    color: gainsboro;
}

.cart{
    position: absolute;
    right: 20px;
    position: fixed;
    border: 2px solid #56CDF3;
    border-radius: 5px;
    padding: 0 10px;
}

.header-container{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem;
    min-height: 7rem;
    text-align: center;
    background-color: gray;
}

.header-container h1{
    color: white;
    font-size: 6rem;
    cursor: pointer;
}

.container{
    margin: 3rem 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

.container img{
    margin: 1rem;
    height:250px;
    width: 250px;
    object-fit: cover;
    transition: scale 1s ease-in-out;
    overflow: hidden;
}
.container img:hover{
    scale: 1.7;
}

.product-type{
    font-family: "Metal Mania", cursive;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.product{
    padding-top: 1rem;
    background-color: #f9f8f9;
    border-radius: 1rem;
    margin: 1.5rem 10rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transition: left 1s ease-in-out;
}

.product h3{
    padding: 0 1rem;
    font-family:'Quicksand', sans-serif;
    font-size: 1.5rem;
}

.product-details{
    display: flex;
    flex-direction: row;
    object-fit: cover;
}

.product-details p{
    width: 6rem;
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.product-details button{
    background-color: #56CDF3;
    padding: 0.5rem;
    font-weight: 700;
    border: none;
    border-top-left-radius: 1rem;
    color: white;
    cursor: pointer;
    margin-left: 5rem;
}

.product-details button:hover{
    background-color: #0d94af;
}

.bottom-button{
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem 0
}

.bottom-button button{
    background-color: gray;
    padding: 1rem 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s linear;
}

.bottom-button button:hover{
    color: gray;
    border: 1px solid gray;
    background-color: #f9f8f9;
}

.footer{
    position:static;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100vw;
    min-height: 3rem;
    background-color: #212020;
    color: white;
    bottom: 0px;
}

.footer-links{
    padding: 1rem;
    right: 4rem;
    margin: 0 3rem;
}

.footer-links a{
    margin: 0 0.5rem;
}

.footer h2{
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2.5rem;
    letter-spacing: 1px;
    left: 4rem;
}

a img{
    height: 30px;
    width: 30px;
}